  ```{=html}
  <div class="visuals">
      <% for (const visual of items) { %>
      <div class="mt-5">
          <h3>
              <%= visual.title %> 
          </h3>
          <p><%= visual.description %></p>
              <img style="max-width: 100%; max-height: 500px; width: auto; height: auto; display: block; margin: 0 auto;" src="<%= visual.image %>" />
  
          <ul class="links mx-auto mt-3">
              <% if (visual.github) { %>
              <li>
                  <a href="<%- visual.github %>">
                      <i class="fab fa-github"></i> GitHub
                  </a>
              </li>
              <% } %>
              <% if (visual.documentation) { %>
              <li class="visual-link">
                  <a href="<%- visual.documentation %>">
                      <i class="fas fa-book"></i> Documentation
                  </a>
              </li>
              <% } %>
          </ul>
      </div>
      <% } %>
  </div>
  ```